@import "tailwindcss";

:root {
  --background: #1A1A1A;
  --foreground: #E0E0E0;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.markdown h1 {
  @apply text-4xl font-bold mb-4;
}

.markdown h2 {
  @apply text-3xl font-bold mb-3;
}

.markdown p {
  @apply mb-2 leading-relaxed;
}

.markdown ul {
  @apply list-disc pl-5 mb-2;
}

.markdown li {
  @apply mb-1;
}

.markdown a {
  @apply text-blue-400 underline font-bold;
}

.markdown strong {
  @apply font-bold;
}

.markdown em {
  @apply italic;
}

.markdown code {
  @apply bg-[#3A3A3A] p-0.5 rounded font-mono;
}

.markdown img {
  @apply w-170 h-auto rounded-xl my-10;
}

.background {
  background-color: #050505;
  background-image:
    radial-gradient(circle at 90% 10%, rgba(120, 177, 75, 0.12) 0%, transparent 40%),
    radial-gradient(circle at 10% 90%, rgba(74, 222, 128, 0.08) 0%, transparent 40%),
    radial-gradient(circle at 50% 50%, rgba(120, 177, 75, 0.03) 0%, transparent 60%);
  background-attachment: fixed;
  background-size: cover;
}